@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    background-color: rgba(247, 213, 66, 0.973);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#heading {
    text-align: center;
    font-size: 88px;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-text-stroke: 2px white;  

}

h2 {
    text-align: center;
    font-size: 48px;
    -webkit-text-stroke: 0.2px white;  
    margin-bottom: 0;
}

#img {
    width: 750px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    border: dotted 10px white ;
    -webkit-filter: sepia(0);
    filter: sepia(0);
    -webkit-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
}

#img:hover {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}


ul {
    max-width: 300px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
    background: rgb(253, 253, 255) !important;
    list-style: none;
    text-align: center;
    border: dotted 20px rgba(247, 213, 66, 0.973);
    border-radius: 5px;

    
  }

  a {
      color: black;
      text-decoration: none;
      font-family: 'Satisfy', cursive;
      font-size: 30px;
  
  }
  
  a:hover {
      color: white;
      font-size: 40px;
      transition: 0.5s;
  }

  #try {
      text-align: center;
      color: rgb(0, 0, 0);
  }